block content
  .container-fluid(ng-cloak='')
    .col-xs-12.col-sm-4
      img.about(src='images/headshotc1.png')
    .col-xs-12.col-sm-8
      h2.about About Me
      p.about I'm an interaction designer looking to solve real world problems through design.
      p.about I recently graduated from General Assembly's 10 week User Experience Design Immersive Program. Before pursuing a career in UX design, I worked as a front end developer, founded my own startup, worked in the finance industry, and was a Paratrooper in the US Army's 82nd Airborne Division. I wholeheartedly believe it's possible to have a positive impact on the world through empathic design.


