
block content
  .container-fluid(ng-cloak='')
    .row.top.main
      .col-xs-6.col-sm-3.lendy
        h3.i Lendeavor
        p.i Match Small Businesses With Loans
        a(href='/lendeavor')
          img.i(src='/images/lendyi1.png')
      .col-xs-6.col-sm-3.rand
        h3.i Rand McNally
        p.i A GeoCaching App For Educators And Explorers
        a(href='/randmcnally')
          img.i(src='/images/RMi1.png')
      .col-xs-6.col-sm-3
        h3.i stockickr
        p.i Mobile Stock Trading Patform
        a(href='/stockickr')
          img.i(src='/images/ski1.png')
      .col-xs-6.col-sm-3
        h3.i True Spirit
        p.i Effiecent, Ellegant And Intuitive eCommerce
        a(href='/truespirit')
          img.i(src='/images/TSi1.png')

    .row.top(ng-show='rand')
      .row-fluid.naver
        .col-xs-4
          h4.naver Leandeavor
          img.naver(src='/images/leftc.png', ng-click='lendy=!lendy; rand=!rand')          
        .col-xs-4.center
          h4.naver Home
          img.naver(src='/images/home.png', ng-click='rand=!rand')          
        .col-xs-4.right
          h4.naver stockickr
          img.naver(src='/images/rightc.png', ng-click='rand=!rand; sk=!sk')          
      .col-xs-12
        .col-xs-6.col-sm-3
          h3.i Rand McNally
          p.i A GeoCaching App For Educators And Explorers
          img.i(src='/images/RMi1.png')

    .row.top(ng-show='sk')
      .row-fluid.naver
        .col-xs-4
          h4.naver Rand McNally
          img.naver(src='/images/leftc.png', ng-click='sk=!sk; rand=!rand')          
        .col-xs-4.center
          h4.naver Home
          img.naver(src='/images/home.png', ng-click='sk=!sk')          
        .col-xs-4.right
          h4.naver True Spirit
          img.naver(src='/images/rightc.png', ng-click='ts=!ts; sk=!sk')
      .col-xs-12
        .col-xs-6.col-sm-3
          h3.i stockickr
          p.i Mobile Stock Trading Patform
          img.i(src='/images/SKi1.png')

    .row.top(ng-show='ts')
      .row-fluid.naver
        .col-xs-4
          h4.naver stockickr
          img.naver(src='/images/leftc.png', ng-click='sk=!sk; ts=!ts')          
        .col-xs-4.center
          h4.naver Home
          img.naver(src='/images/home.png', ng-click='ts=!ts')
        .col-xs-4
          h4
      .col-xs-12
        .col-xs-6.col-sm-3
          h3.i True Spirit
          p.i Effiecent, Ellegant And Intuitive eCommerce
          img.i(src='/images/TSi1.png')

    .row.top.about(ng-if='about')
       .col-xs-6.col-sm-3
        h3.i about me