
block content
  .container-fluid
    .row.top.main
      .col-xs-6.col-sm-3.lendy
        h3.i Lendeavor
        p.i Match Small Businesses With Loans
        a(href='/lendeavor')
          img.i(src='/images/lendyi1.png')
      .col-xs-6.col-sm-3.rand
        h3.i Rand McNally
        p.i A GeoCaching App For Educators And Explorers
        a(href='/randmcnally')
          img.i(src='/images/RMi1.png')
      .col-xs-6.col-sm-3
        h3.i stockickr
        p.i Mobile Stock Trading Patform
        a(href='/stockickr')
          img.i(src='/images/ski1.png')
      .col-xs-6.col-sm-3
        h3.i True Spirit
        p.i Efficient, Elegant And Intuitive Ecommerce
        a(href='/truespirit')
          img.i(src='/images/TSi1.png')

    