
block content
  .container-fluid
    .col-xs-12.top
      a.col-xs-12.col-md-6.foot.footLendy(href='/lendeavor#le')
        h2.breaker Lendeavor
      a.col-xs-12.col-md-6.foot.footRand(href='/randmcnally#rm')
        h2.breaker.r Rand McNally
      a.col-xs-12.col-md-6.foot.footStockickr(href='/stockickr#sk')
        h2.breaker stockickr
      a.col-xs-12.col-md-6.foot.footTrue(href='/truespirit#ts')
        h2.breaker.r TrueSpirit

    