
block content
  .container-fluid.main
    .col-xs-12.top
      a.col-xs-12.col-md-6.foot.footLendy(href='/lendeavor')
        h2.breaker Lendeavor
      a.col-xs-12.col-md-6.foot.footRand(href='/randmcnally')
        h2.breaker.r Rand McNally
      a.col-xs-12.col-md-6.foot.footStockickr(href='/stockickr')
        h2.breaker stockickr
      a.col-xs-12.col-md-6.foot.footTrue(href='/truespirit')
        h2.breaker.r TrueSpirit

    