block content
  .container-fluid
    .row.top
      .row-fluid.naver
        .col-xs-4
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver Rand McNally
          a(href='randmcnally')
            img.naver(src='/images/rightc.png')          
      .col-xs-12  
        .col-xs-12.col-sm-4
          h3.content What is Lendeavor?
          p.content Lendeavor is essentially a market maker; using a proprietary algorithm they match small businesses with small business loans, based on criteria provided by the business and the lender.
        .col-xs-12.col-sm-4
          h3.content The Problem
          p.content Borrowers are highly skeptical of the lending process and do not trust Lendeavor to match them with credible lenders that will fulfill their needs.
        .col-xs-12.col-sm-4
          h3.content The Solution
          p.content Design a responsive web application that will represent Lendeavor as a trustworthy company to partner with.  The website will provide the user with full transparency of the lending process, while providing them with an experience similar to interacting with a real human.
        .col-xs-12.col-sm-4
          img(src='/images/laffinity.jpg')


