block content
  .container-fluid.content(ng-cloak='')
    .row.top#le
      .row-fluid.naver
        .col-xs-4
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver Rand McNally
          a(href='randmcnally')
            img.naver(src='/images/rightc.png')          
    .col-xs-12.content(ng-cloak='')
      .col-xs-12
        h1.top Lendeavor
        h3.content Disrupting the small business loan industry
      .col-xs-12
        img.topper(src='/images/lendyMock.png')      
      .col-xs-12.fuller.l
        h2.breaker Time : Three Weeks<br><br>Delivered : User Research <span>&amp</span> Personas - Rebrand - AngularJS Coded Prototype - UI/UX Design - Content Strategy - Visual Design 
      .col-xs-12.middle
        h2.content Empowering Small Businesses With Perfectly Matched Loans
        h4.content A responsive web application was designed that allows small business owners to apply for a loan on any device, save their progress, and transition between devices seamlessly.
        img.middle(src='/images/lendyiPhone.jpg')
      .col-xs-12
        h2.content User Research Was Paramount
        h4.content Borrowing money is an extremely emotional experience, especially when it's a make or break situation for a small business owner. Extensive user research was conducted to validate all design decisions, and to address as many user pain points as possible.
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/persona1.png')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/persona2.png')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/persona3.png')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/persona4.png')
      .col-xs-12.bottom
        h2.content An Equal Equation
        h4.content Based on user testing, and feedback from stakeholders, the final design delivered an almost perfect balance of user advocacy and stakeholder needs.
        img.middle(src='/images/lendyiMac.jpg')
      .col-xs-12.footer
        a.col-xs-6.foot.footTrue(href='/truespirit#ts')
          h2.breaker TrueSpirit
        a.col-xs-6.foot.footRand(href='/randmcnally#rm')
          h2.breaker.r Rand McNally
