block content
  .container-fluid
    .row.top
      .row-fluid.naver
        .col-xs-4
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver Rand McNally
          a(href='randmcnally')
            img.naver(src='/images/rightc.png')          
      .col-xs-12  
        .col-xs-6.col-sm-3
          h3.i Lendeavor
          p.i Match Small Businesses With Loans        
          img.i(src='/images/lendyi1.png')