block content
  .container-fluid.content
    .row.top#le
      .row-fluid.naver
        .col-xs-4
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver Rand McNally
          a(href='randmcnally', ng-click='lefty=!lefty')
            img.naver(src='/images/rightc.png')          
    .col-xs-12.content(ng-cloak='') 
      .col-xs-12.col-sm-4
        h3.content What is Lendeavor?
        p.content Essentially, Lendeavor is a market maker; using a proprietary algorithm it matches small businesses with small business loans based on criteria provided by the business and the lender.
      .col-xs-12.col-sm-4
        h3.content The Problem
        p.content Borrowers are highly skeptical of the lending process and do not trust Lendeavor to match them with credible lenders that will fulfill their needs.
      .col-xs-12.col-sm-4
        h3.content The Solution
        p.content Design a responsive web application that will present Lendeavor as a trustworthy company to partner with.  The website will make the lending process fully transparent to the user, while providing the user with an experience comparable to that experienced when interacting with a real human.
      .col-xs-12
        h2.titles Research
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/laffinity.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lspider.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lwordCloud.png')      
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lendySB.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lca.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lquotes.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/laffinity1.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/laffinity3.jpg')      
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/persona-grid.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/persona1.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/persona2.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/persona3.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/persona4.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lspider3.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lforms1.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lmm1.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lmm5.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/ldstudio1.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/ldstudio4.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/ldashflow.jpg')
      .col-xs-12
        h2.titles Sketches and Testing
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lsketch1.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lsketch2.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/lsketch3.png')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/usertest1.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/usertest2.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/ldstudiodash.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/ldstudiodash2.jpg')
      .col-xs-12.col-md-6.imagewrapperl
        img.content(src='/images/ldashstrategy.jpg')
      .col-xs-12
        h2.titles Lumx (AngularJS) Coded Prototype
      .col-xs-12.imagewrapper.video
        iframe(width='960', height='750', src='https://www.youtube.com/embed/8pn1jthesCQ', frameborder='0', allowfullscreen='')
    .row.bottom
      .row-fluid.naverl
        .col-xs-4
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver Rand McNally
          a(href='/randmcnally/#rm')
            img.naver(src='/images/rightc.png')

