block content
  .container-fluid.content
    .row.top#le
      .row-fluid.naver
        .col-xs-4
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver Rand McNally
          a(href='randmcnally', ng-click='lefty=!lefty')
            img.naver(src='/images/rightc.png')          
    .col-xs-12.content(ng-cloak='')
      .col-xs-12
        h3.content Online small business loans, human and transparent       
      .col-xs-12
        img.topper(src='/images/lendymock.png')      
      .col-xs-12.fuller.l
      .col-xs-12.col-sm-4
        h3.content The Problem
        p.content Borrowers are highly skeptical of the lending process and do not trust Lendeavor to match them with credible lenders that will fulfill their needs.
      .col-xs-12.col-sm-4
        h3.content The Solution
        p.content Design a responsive web application that will present Lendeavor as a trustworthy company to partner with.  The website will make the lending process fully transparent to the user, while providing the user with an experience comparable to that experienced when interacting with a real human.