block content
  .container-fluid
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        a(href='/home')
          p.navbar-text.navbar-left.naver Home
        a(href='https://www.dropbox.com/s/k5tdmgqqm4mbeyt/ACResumeUX4.pdf?dl=0', target='_blank')
          p.navbar-text.navbar-right.naver Resume
        a(href='mailto:cunliffeandrewc@gmail.com?Subject=Hello%20There', target='_blank')    
          p.navbar-text.navbar-right.naver Email
        a(href='/about',)
          p.navbar-text.navbar-right.naver About