block content
  .container-fluid#rm(ng-cloak='')
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver.l Lendeavor
          a(href='/lendeavor')
            img.naver.l(src='/images/leftc.png')          
        .col-xs-4.center         
        .col-xs-4.right
          h4.naver stockickr
          a(href='/stockickr')  
            img.naver(src='/images/rightc.png')          
    .col-xs-12.content
      .col-xs-12
        h1.top Rand McNally
        h3.content GeoCaching reinvented 
      .col-xs-12
        img.topper.r(src='/images/rm1imain.png')
      .col-xs-12.fuller.r
        h2.breaker Time : Two Weeks<br><br>Delivered : User Research <span>&</span> Personas - UI/UX Design - Content Strategy - Visual Design
      .col-xs-12.middle.r
        h2.content Combining Industry Leading Maps and GPS Technology With GeoCaching
        h4.content A responsive web application was designed that allows small business owners to apply for a loan on any device, save their progress, and transition between devices seamlessly.
        img.middle(src='/images/RMipad.jpg')
      .col-xs-12
        h2.content User Research Was Paramount
        h4.content Borrowing money is an extremely emotional experience, especially when it's a make or break situation for a small business owner. Extensive user research was conducted to validate all design decisions, and to address as many user pain points as possible.
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/TSPersona2.png')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/TSPersona3.png')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/TSPersona.png')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/RMmentalMap.png')
      .col-xs-12.bottom
        h2.content An Equal Equation
        h4.content Based on user testing, and feedback from stakeholders, the final design delivered an almost perfect balance of user advocacy and stakeholder needs.
        img.middle(src='/images/RMApp.jpg')
      .col-xs-12.footer
        a.col-xs-6.foot.footLendy(href='/lendeavor#le')
          h2.breaker Lendeavor
        a.col-xs-6.foot.footStockickr(href='/stockickr#sk')
          h2.breaker.r stockickr
      