block content
  .container-fluid.rm   
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver Lendeavor
          a(href='/lendeavor')
            img.naver(src='/images/leftc.png')          
        .col-xs-4.center         
        .col-xs-4.right
          h4.naver stockickr
          a(href='/stockickr')  
            img.naver(src='/images/rightc.png')          
    .col-xs-12.content 
      .col-xs-12.col-sm-4
        h3.content What is Rand McNally?
        p.content Rand McNally is a long standing map, atlas, globe, and GPS maker.
      .col-xs-12.col-sm-4
        h3.content The Problem
        p.content Rand McNally was looking to enter into the mobile application market, beyond just their GPS application, with a GeoCaching application that can enhance their current customers' needs, while also attracting new customers not familiar with their core products.
      .col-xs-12.col-sm-4
        h3.content The Solution
        p.content Through user research it was found that many of Rand McNally's core customers, namely long-haul truck drivers and RVers, might participate in GeoCaching but it was not something they exceptionally valued. One of their other core customers, educators, were excited about complementing field trips and lesson plans via GeoCaching. Conversely, current geocachers were very excited about having an all encompassing geocaching experience, one that transitioned seamlessly from smart-phone, to in-car GPS, with the reliability of Rand McNally's maps.<br><br>Thus, a GeoCaching application that addressed the needs of current GeoCachers, improving upon legacy systems and applications, and educators, preset and customizable "scavenger hunts," for field trips and lesson plans, was designed
      .col-xs-12.col-sm-4.imagewrapper.rm
        img.content(src='/images/rmschedule.jpg')
      .col-xs-12.col-sm-4.imagewrapper.rm
        img.content(src='/images/rmMindMap.jpg')
      .col-xs-12.col-sm-4.imagewrapper.rm
        img.content(src='/images/rmJessicaGeo.jpg')
      .col-xs-12.col-sm-4.imagewrapper.rm
        img.content(src='/images/rmDrewFoot.jpg')
      .col-xs-12.col-sm-4.imagewrapper.rm
        img.content(src='/images/rmGeoCache.jpg')
      .col-xs-12.col-sm-4.imagewrapper.rm
        img.content(src='/images/rmJessicaGeoHappy.jpg')