block content
  .container-fluid#rm
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver Lendeavor
          a(href='/lendeavor')
            img.naver(src='/images/leftc.png')          
        .col-xs-4.center         
        .col-xs-4.right
          h4.naver stockickr
          a(href='/stockickr')  
            img.naver(src='/images/rightc.png')          
    .col-xs-12.content 
      .col-xs-12.col-sm-4
        h3.content What is Rand McNally?
        p.content Rand McNally is a long established map, atlas, globe, and GPS maker.
      .col-xs-12.col-sm-4
        h3.content The Problem
        p.content Rand McNally was looking to move beyond just their GPS application by entering into the mobile application market with a GeoCaching application that can better address their current customers' needs while also attracting new customers not familiar with their core products.
      .col-xs-12.col-sm-4
        h3.content The Solution
        p.content Through user research it was found that many of Rand McNally's core customers, particularly long-haul truck drivers and RVers, might participate in GeoCaching but it was not something they especially valued. Conversely, another core customer cohort, educators, was excited about complementing field trips and lesson plans via GeoCaching. Similarly, current geocachers were very excited about having an all encompassing geocaching experience, one that transitioned seamlessly from smart-phone,to in-car GPS, and was coupled with the reliability of Rand McNally's maps.<br><br>Therefore, a GeoCaching application was designed that addressed the needs of current GeoCachers by improving upon legacy systems and applications, and of educators, by providing preset and customizable "scavenger hunts" for field trips and lesson plans.
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmschedule.jpg')      
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmJessicaGeo.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmDrewFoot.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmJessicaGeoHappy.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmBrian1.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmBrian2.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmCacheList.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmMindMap.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmTeam.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/TSPersona2.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/TSPersona3.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/TSPersona.png')
        <br><br>           
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmUserFlow.png')      
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/RMSketch1.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/RMSketch2.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/RMi1.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmi2.png')      
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmi3.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmi4.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmi5.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmi6.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmi7.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmi8.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/rmi9.png')
    .row.bottom
      .row-fluid.naver
        .col-xs-4
          h4.naver Lendeavor
          a(href='/lendeavor/#le')
            img.naver(src='/images/leftc.png')          
        .col-xs-4.center         
        .col-xs-4.right
          h4.naver stockickr
          a(href='/stockickr/#sk')  
            img.naver(src='/images/rightc.png') 
          