block content
  .container-fluid#sk(ng-cloak='')
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver Rand McNally
          a(href='/randmcnally')
            img.naver(src='/images/leftc.png')          
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver True Spirit
          a(href='/truespirit')  
            img.naver(src='/images/rightc.png')      
    .col-xs-12.content 
      .col-xs-12.col-sm-4
        h3.content What is stockickr?
        p.content A social stock trading application for professionals, amateurs, and students, that I conceived and developed.
      .col-xs-12.col-sm-4
        h3.content The Problem
        p.content While trading securities and blogging about my portfolio positions, I identified two fundamentals, first, there is a vast amount of traders and investors talking about their trades and investments on the internet, but there is no way to verify whether this reflects what they're actually buying and selling, and second  while NFL players have the opportunity to  play in college, high school, and pee-wee before going pro, there is no comparable training ground for securities trading in college, even just as a game.
      .col-xs-12.col-sm-4
        h3.content The Solution
        p.content Breaking down the core users into two groups, professionals and amateurs, two different solutions were developed. For professionals, partner with brokerage firms and use their APIs to automatically log user trades when made within their brokerage accounts. For amateurs, offer "paper trading" accounts with a real-time manual interface. To further expand upon the social aspect of the application, group accounts were designed, so that small capital management firms could show all of their trades while school clubs, teams, and Greek organizations could trade and compete with each other.
      
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/s3.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/s1.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/skBeta.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/alphaPhi.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/skLogin.png')      
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/SKiOSTabLiveSearch.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/SKiOSorderFormTab.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/SKiOSLoginTab.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/SKiOSUserTab.png')


    
    .row.bottom
      .row-fluid.naver
        .col-xs-4
          h4.naver Rand McNally
          a(href='/randmcnally/#rm')
            img.naver(src='/images/leftc.png')          
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver True Spirit
          a(href='/truespirit/#ts')  
            img.naver(src='/images/rightc.png')