block content
  .container-fluid
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver Rand McNally
          a(href='/randmcnally')
            img.naver(src='/images/leftc.png')          
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver True Spirit
          a(href='/truespirit')  
            img.naver(src='/images/rightc.png', ng-click='ts=!ts; sk=!sk')
      .col-xs-12
        .col-xs-6.col-sm-3
          h3.i stockickr
          p.i Mobile Stock Trading Patform
          img.i(src='/images/SKi1.png')