block content
  .container-fluid#sk
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver.l Rand McNally
          a(href='/randmcnally')
            img.naver.l(src='/images/leftc.png')          
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver True Spirit
          a(href='/truespirit')  
            img.naver(src='/images/rightc.png')      
    .col-xs-12.content 
      .col-xs-12
        h1.top stockickr
        h3.content Social stock trading
      .col-xs-12
        img.topper.sk(src='/images/ipc.jpg')
      .col-xs-12.middle.r
        h2.content It All Started With An Idea
        h4.content While in college studying finance, and later working as a financial analyst, I realized the need for a way to "even the playing field" for students at lesser know schools, and finance professionals at smaller firms. Out of this stockickr was born. This was my first time designing a full application from scratch, and these are my original sketches and screens from 2013.
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/s3.jpg')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/s1.png')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/alphaPhi.png')
        .col-xs-12.col-md-6.imagewrapperl
          img.content(src='/images/s9.png')
      .col-xs-12
        h2.content A Live Beta Was Built
        h4.content We had ~100 users sign up for and test the beta, purely in browser on desktop. The main objective was to test the accuracy and reliability of our real-time trading engine. 
        .col-xs-12.imagewrapperl
          img.content(src='/images/skBeta.png')        
      .col-xs-12.bottom
        h2.content Based On Testing
        h4.content Based on user testing the live beta it was found that a native mobile and tablet app provided the easiest access for the widest variety of users. While the desktop browser application would continue to be utilized, the emphasis switched to mobile and tablet.
        img.middle(src='/images/SKiPhone.jpg')
      .col-xs-12
        h2.content Transparency Through APIs
        h4.content By working with brokerage firms we realized the future of social stock trading would rely on using their APIs to connect to stockickr. By doing so, prospective clients could see an investment firm's performance in real time.  
        img.middle(src='/images/SKflow.jpg')
      .col-xs-12.footer        
        a.col-xs-6.foot.footRand(href='/randmcnally#rm')
          h2.breaker Rand McNally
        a.col-xs-6.foot.footTrue(href='/truespirit#ts')
          h2.breaker.r TrueSpirit