block content
  .container-fluid(ng-cloak='')
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver.l stockickr
          a(href='/stockickr')
            img.naver.l(src='/images/leftc.png', ng-click='sk=!sk; ts=!ts')
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver Lendeavor
          a(href='/lendeavor')  
            img.naver(src='/images/rightc.png')        
        .col-xs-4.center
        .col-xs-4
    .col-xs-12.content
      .col-xs-12
        h1.top TrueSpirit
        h3.content Efficient, Elegant, and Intuitive Ecommerce
      .col-xs-12
        img.topper.ts(src='/images/TSResponsive.png')
      .col-xs-12.fuller.ts
        h2.breaker Time : Two Weeks<br><br>Delivered : User Research - UI/UX Design - Visual Design - InVision Prototype
      .col-xs-12.middle
        h2.content Effieciency 
        h4.content A responsive web application was designed that allows small business owners to apply for a loan on any device, save their progress, and transition between devices seamlessly.
        img.middle(src='/images/TSDual.jpg')
      .col-xs-12
        h2.content Effieciency was the parents' main pain-point, relayed over and over. Through testing it was found that creating four similar user flows achieved this.
        .col-xs-12.col-md-6.ts
          img.TSicons(src='/images/shirt.png')
          h4.TSicons To parents of children that wear school uniforms the lack of planning outfits is a huge plus, and they want that same simplicity when buying the uniforms.          
        .col-xs-12.col-md-6.ts
          img.TSicons(src='/images/telescope.png')
          h4.TSicons Currently, most online school retailers rely on a "school code" and traditional ecommerce navigation. Digging through emails to find the code was a major pain-point for parents who had to buy clothes in the middle of a semester.
        .col-xs-12
        .col-xs-12.col-md-6.ts
          img.TSicons(src='/images/datadown.png')
          h4.TSicons Another pain-point with current online school uniform retailers was the amount of items displayed. One father relayed a situation where he had to navigate through three pages of clothing items to find a blue polo shirt for his son in the right size, but there were red and white polo shirts in the right size on the first page.
        .col-xs-12.col-md-6.ts
          img.TSicons(src='/images/responsive.png')
          h4.TSicons While the parents involved in the testing wanted a responsive application, stating they needed access on crowded public transportation, they wanted the focus to be on desktop, as they were most likely to make purchases on their work computer during lunch, or their home computer in the evening. 
      .col-xs-12.middle.r
        h2.content Time Is Valuable
        h4.content placeholder parents are busy, want to spend time, with kids, etc
        img.middle(src='/images/TSiPhone.jpg')
      .col-xs-12.footer        
        a.col-xs-6.foot.footStockickr(href='/stockickr')
          h2.breaker stockickr
        a.col-xs-6.foot.footLendy(href='/lendeavor')
          h2.breaker.r lendeavor


          