block content
  .container-fluid
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver stockickr
          a(href='/stockickr')
            img.naver(src='/images/leftc.png', ng-click='sk=!sk; ts=!ts')          
        .col-xs-4.center
        .col-xs-4
      .col-xs-12
        .col-xs-6.col-sm-3
          h3.i True Spirit
          p.i Effiecent, Ellegant And Intuitive eCommerce
          img.i(src='/images/TSi1.png')