block content
  .container-fluid#ts
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver.l stockickr
          a(href='/stockickr')
            img.naver.l(src='/images/leftc.png', ng-click='sk=!sk; ts=!ts')
        .col-xs-4.center          
        .col-xs-4.right
          h4.naver Lendeavor
          a(href='/lendeavor')  
            img.naver(src='/images/rightc.png')        
        .col-xs-4.center
        .col-xs-4
    .col-xs-12.content
      .col-xs-12
        h1.top TrueSpirit
        h3.content Efficient, Elegant, and Intuitive Ecommerce
      .col-xs-12
        img.topper.ts(src='/images/TSResponsive.png')
      .col-xs-12.fuller.ts
        h2.breaker Time : Two Weeks<br><br>Delivered : User Research - UI/UX Design - Visual Design - InVision Prototype
      .col-xs-12.middle
        h2.content Effieciency 
        h4.content A responsive web application was designed that allows small business owners to apply for a loan on any device, save their progress, and transition between devices seamlessly.
        img.middle(src='/images/TSDual.jpg')
      .col-xs-12.middle
        h2.content TS Iconography
        h4.content Iconography goes here
      .col-xs-12.footer        
        a.col-xs-6.foot.footStockickr(href='/stockickr')
          h2.breaker stockickr
        a.col-xs-6.foot.footLendy(href='/lendeavor')
          h2.breaker.r lendeavor


          