block content
  .container-fluid#ts
    .row.top
      .row-fluid.naver
        .col-xs-4
          h4.naver stockickr
          a(href='/stockickr')
            img.naver(src='/images/leftc.png', ng-click='sk=!sk; ts=!ts')          
        .col-xs-4.center
        .col-xs-4
    .col-xs-12.content 
      .col-xs-12.col-sm-4
        h3.content What is True Spirit?
        p.content True Spirit is an online school uniform retailer.
      .col-xs-12.col-sm-4
        h3.content The Problem
        p.content Parents, especially those who work, have very little time; therefore, they want to be able to order their child's clothes quickly while still being assured they will fit.
      .col-xs-12.col-sm-4
        h3.content The Solution
        p.content School administrators log into True Spirit through an administrator portal, where they select the items required for students at their school. All of the selected items are bound to a school code in the True Spirit database. Parents can then enter the school's school code, zip code, or use the checklist on True Spirits landing page to go straight to the school's "storefront," where only items required for that school are shown. There is also an option to use traditional navigation, but it does not supply the efficient and intuitive experience of the quick access to the items required by a specific school .
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/tsSearchSketch.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/tsProductDetail.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/tsMiniCart.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/tsCheckout.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/tsMobile1.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/tsMobile2.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/1trueSpirit0.png')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/tsCheckout.jpg')
      .col-xs-12.col-md-4.imagewrapper
        img.content(src='/images/tsminiCart1.jpg')      

    .row.bottom
      .row-fluid.naver
        .col-xs-4
          h4.naver stockickr
          a(href='/stockickr/#sk')
            img.naver(src='/images/leftc.png')

          



          