extends layout

block content
  .container-fluid
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        a(href='http://acdesign.jit.su/')
          p.navbar-text.navbar-left.naver Home
        a(href='https://www.dropbox.com/s/k5tdmgqqm4mbeyt/ACResumeUX4.pdf?dl=0', target='_blank')
          p.navbar-text.navbar-right.naver Resume
        a(href='mailto:cunliffeandrewc@gmail.com?Subject=Hello%20There', target='_blank')    
          p.navbar-text.navbar-right.naver Email
        a(ng-click='about=!about')
          p.navbar-text.navbar-right.naver About

    .row.top.main(ng-hide='lendy || rand || sk || ts || about')
      .col-xs-6.col-sm-3.lendy
        h3.i Lendeavor
        p.i Match Small Businesses With Loans        
        img.i(src='/images/lendyi1.png', ng-click='lendy=!lendy')
      .col-xs-6.col-sm-3.rand
        h3.i Rand McNally
        p.i A GeoCaching App For Educators And Explorers
        img.i(src='/images/RM1i.png', ng-click='rand=!rand')
      .col-xs-6.col-sm-3
        h3.i stockickr
        p.i Mobile Stock Trading Patform
        img.i(src='/images/SKi1.png', ng-click='sk=!sk')
      .col-xs-6.col-sm-3
        h3.i True Spirit
        p.i Effiecent, Ellegant And Intuitive eCommerce
        img.i(src='/images/TSi1.png', ng-click='ts=!ts')

    .row.top(ng-if='lendy')
      .col-xs-6.col-sm-3
        h3.i Lendeavor
        p.i Match Small Businesses With Loans        
        img.i(src='/images/lendyi1.png',)

    .row.top(ng-if='rand')
      .col-xs-6.col-sm-3
        h3.i Rand McNally
        p.i A GeoCaching App For Educators And Explorers
        img.i(src='/images/RM1i.png')

    .row.top(ng-if='sk')
      .col-xs-6.col-sm-3
        h3.i stockickr
        p.i Mobile Stock Trading Patform
        img.i(src='/images/SKi1.png')

    .row.top(ng-if='ts')
       .col-xs-6.col-sm-3
        h3.i True Spirit
        p.i Effiecent, Ellegant And Intuitive eCommerce
        img.i(src='/images/TSi1.png')

    .row.top(ng-if='about')
       .col-xs-6.col-sm-3
        h3.i about me
        
