extends layout

block content
  .container-fluid
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        p.navbar-text.navbar-right.naver Resume
        p.navbar-text.navbar-right.naver Contact
        p.navbar-text.navbar-right.naver About


    .row.top
      .col-xs-6.col-sm-3
        h3.i Lendeavor
        p.i Match Small Businesses With Loans
        img.i(src='/images/lendyi1.png')
      .col-xs-6.col-sm-3
        h3.i Rand McNally
        p.i A GeoCaching App For Educators And Explorers
        img.i(src='/images/RM1i.png')
      .col-xs-6.col-sm-3
        h3.i stockickr
        p.i Mobile Stock Trading Patform
        img.i(src='/images/SKi1.png')
      .col-xs-6.col-sm-3
        h3.i True Spirit
        p.i Effiecent, Ellegant And Intuitive eCommerce
        img.i(src='/images/TSi1.png')