extends layout

block content
  .container-fluid
    .row
      .col-xs-6.col-sm-4
        img.hs(src='/images/headshotc1.png')
      .col-xs-6.col-sm-6
        h3 this is a column
    .row
      .col-xs-8.col-sm-3
        h3.i Lendeavor
        img.i(src='/images/lendyi1.png')
      .col-xs-8.col-sm-3
        h3.i Rand McNally
        img.i(src='/images/RM1i.png')
      .col-xs-8.col-sm-3
        h3.i stockickr
        img.i(src='/images/SKi1.png')
      .col-xs-8.col-sm-3
        h3.i True Spirit
        img.i(src='/images/TSi1.png')