doctype html
html(ng-app="port")
  head
    title AndrewCunliffe
    meta(charset='utf8')
    meta(name='viewport',content='initial-scale=1,width=device-width')
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
    meta(name='google',content='notranslate')
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap.min.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='javascripts/controllers.js')
    script(src='javascripts/app.js')

  body(ng-cloak='')    
    block content
    nav.navbar.navbar-default.navbar-fixed-top.desktop
      .container-fluid
        a(href='/home')
          img.icon(src='/images/ALogo4.png')
        a(href='https://www.dropbox.com/s/6zp41gednbm1p7m/ACResumeUX5.pdf?dl=0', target='_blank')
          p.navbar-text.navbar-right.naver Resume
        a(href='mailto:cunliffeandrewc@gmail.com?Subject=Hello%20There', target='_blank')    
          p.navbar-text.navbar-right.naver Email
        a(href='/about',)
          p.navbar-text.navbar-right.naver About

    nav.navbar.navbar-default.navbar-fixed-top.mobile
      .container-fluid
        a.navbar-left(href='/home')
          img.iconM(src='/images/ALogo4.png')
        a.navbar-right(type='button', data-toggle='dropdown')
          img.menu(src='/images/menu.png')
        ul.dropdown-menu.dropdown-menu-right.navbar-right(role='menu')
          li(role='presentation')
            a(href='/home') Home
          li.divider(role='presentation')
          li(role='presentation')
            a(href='/about') About
          li.divider(role='presentation')
          li(role='presentation')
            a(href='mailto:cunliffeandrewc@gmail.com?Subject=Hello%20There', target='_blank') Email
          li.divider(role='presentation')
          li(role='presentation')
            a(href='https://www.dropbox.com/s/6zp41gednbm1p7m/ACResumeUX5.pdf?dl=0', target='_blank') Resume
    div.view-animate(ng-view='')

    