@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,800,700");
@font-face {
  font-family: 'Arca';
  src: url("/fonts/Arca-Heavy.ttf");
}
.container-fluid.content {
  height: auto;
  padding: !important;
}
nav {
  background-color: rgba(215,215,215,0.95) !important;
}
@media screen and (min-width: 480px) {
  nav.navbar {
    min-height: 50px !important;
  }
}
@media screen and (min-width: 480px) {
  nav.mobile {
    display: none;
  }
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  nav.mobile {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  nav.desktop {
    display: none;
  }
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  nav.desktop {
    display: none;
  }
}
nav p.navbar-text.naver {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 2px;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  color: #737373;
}
@media screen and (max-width: 800px) {
  nav p.navbar-text.naver {
    text-align: right;
    display: inline-block;
    font-size: 10px;
    width: 20px;
  }
}
nav p.navbar-text.naver:hover {
  color: #000 !important;
  text-decoration: underline;
}
ul.dropdown-menu {
  background-color: rgba(215,215,215,0.95);
  color: #000;
}
.dropdown-menu li a {
  -webkit-font-smoothing: antialiased;
  color: #737373;
  font-family: 'Raleway';
  text-align: center;
}
.dropdown-menu li a:hover {
  color: #000 !important;
}
.dropdown-menu p.naver {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 2px;
  font-family: 'Raleway';
  color: #fff !important;
}
@media screen and (max-width: 800px) {
  .dropdown-menu p.naver {
    text-align: right;
    display: inline-block;
    font-size: 10px;
    width: 20px;
  }
}
.row.top {
  margin-top: 30px;
}
@media screen and (min-width: 1920px) {
  .row.top {
    margin: 55px auto 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .row.top {
    margin: 20px auto 0 auto;
  }
}
.row.top.about {
  z-index: 1999;
}
.row.bottom {
  margin: 20px 0 30px 0;
}
.row-fluid.naver {
  margin-top: 40px;
}
@media screen and (min-width: 1920px) {
  .row-fluid.naver {
    margin: 0 auto 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .row-fluid.naver {
    margin: 30px auto 0 auto;
  }
}
.col-xs-4.right {
  text-align: right;
}
.col-xs-4.center {
  text-align: center;
}
.col-xs-12.col-md-4.imagewrapper {
  height: 500px;
  text-align: center;
  max-width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1920px) {
  .col-xs-12.col-md-4.imagewrapper {
    height: 650px;
  }
}
@media screen and (max-width: 480px) {
  .col-xs-12.col-md-4.imagewrapper {
    height: auto;
    width: 100%;
  }
}
.col-xs-12.col-md-4.imagewrapperl {
  height: 300px;
  text-align: center;
  max-width: 100%;
}
@media screen and (min-width: 1920px) {
  .col-xs-12.col-md-4.imagewrapperl {
    height: 650px;
  }
}
@media screen and (max-width: 480px) {
  .col-xs-12.col-md-4.imagewrapperl {
    height: auto;
    width: 100%;
  }
}
.col-xs-12.imagewrapper {
  height: auto;
  text-align: center;
  max-width: 100%;
}
@media screen and (min-width: 1920px) {
  .col-xs-12.imagewrapper {
    height: 650px;
  }
}
@media screen and (max-width: 480px) {
  .col-xs-12.imagewrapper {
    height: 150px;
    width: 100%;
  }
}
.col-xs-12.content {
  padding: 0 !important;
}
iframe {
  max-width: 100%;
  text-align: center !important;
}
@media screen and (max-width: 480px) {
  iframe {
    height: 315px;
  }
}
img {
  max-width: 100%;
}
img.hs {
  max-width: 80%;
  margin: 10% 2.5% 5% 2%;
}
@media screen and (min-width: 1920px) {
  img.hs {
    max-width: 100%;
    margin: 12% 2.5% 5% 15%;
  }
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  img.hs {
    max-width: 50%;
    margin: 5% 2.5% 0 20%;
  }
}
@media screen and (max-width: 480px) {
  img.hs {
    max-width: 70%;
    margin: 12% 2.5% 20% 15%;
  }
}
img.i {
  max-width: 100%;
  cursor: pointer;
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  img.i {
    max-width: 90%;
    margin-top: 30px;
  }
}
img.naver {
  height: 30px;
  cursor: pointer;
}
img.naver:hover {
  background-color: rgba(215,215,215,0.95) !important;
}
img.icon {
  height: 50px !important;
  padding: 5px;
  -webkit-font-smoothing: antialiased;
}
img.iconM {
  padding: 2.5px;
  height: 45px;
  -webkit-font-smoothing: antialiased;
}
img.menu {
  height: 45px;
  float: right;
  padding: 5px 0 0 0;
  cursor: pointer;
}
img.content {
  margin-bottom: 30px;
  padding: 10px;
  max-height: 100%;
}
@media screen and (min-width: 1920px) {
  img.content {
    max-height: 600px;
  }
}
@media screen and (max-width: 480px) {
  img.content {
    width: 98%;
    height: auto;
  }
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  img.content {
    max-width: 60%;
    margin: 30px;
  }
}
img.about {
  margin-top: 100px;
}
@media screen and (min-width: 1920px) {
  img.about {
    float: right;
  }
}
h2.about {
  margin-top: 100px;
  font-family: 'Raleway';
}
h3.i {
  text-align: center;
  font-family: 'Raleway';
  font-weight: bold;
  margin: 100px auto 5px auto;
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  h3.i {
    max-width: 100%;
    margin: 10px auto 5px auto;
    font-size: 8px;
  }
}
@media screen and (max-width: 480px) {
  h3.i {
    font-size: 14px;
    margin: 50px auto 5px auto;
  }
}
h3.content {
  text-align: left;
  font-family: 'Raleway';
  font-weight: bold;
  margin: 20px auto 5px auto;
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  h3.content {
    max-width: 100%;
    margin: 10px auto 5px auto;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  h3.content {
    font-size: 14px;
    margin: 20px auto 5px auto;
  }
}
h4 {
  -webkit-font-smoothing: antialiased;
}
h4.topper {
  font-family: 'Raleway';
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  h4.topper {
    margin: 10% auto 5% auto;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  h4.topper {
    font-size: 10px;
  }
}
h4.naver {
  font-family: 'Raleway';
}
@media screen and (max-width: 480px) {
  h4.naver {
    font-size: 12px;
    height: 20px;
    margin-top: 5px;
  }
}
p {
  -webkit-font-smoothing: antialiased;
}
p.i {
  text-align: center;
  height: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  p.i {
    font-size: 12px;
    height: 40px;
  }
}
p.content {
  text-align: left;
  margin-bottom: 20px;
  min-height: 200px;
  height: auto;
}
@media screen and (max-width: 480px) {
  p.content {
    font-size: 12px;
    margin-bottom: 10px;
    height: auto;
    min-height: 50px;
  }
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  p.content {
    height: 50px;
  }
}
@media screen and (min-width: 1920px) {
  p.about {
    width: 800px;
  }
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}
.view-animate.ng-enter {
  height: 100%;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}
