@import url('http://fonts.googleapis.com/css?family=Raleway')
@import url('http://fonts.googleapis.com/css?family=Raleway:400,800,700')
@font-face 
  font-family:'Arca'
  src url('/fonts/Arca-Heavy.ttf')
  

//main containers


.container-fluid
  &.content
    height auto
    padding  !important


//navigation

nav
  background-color rgba(215,215,215,0.95) !important
  &.navbar
    @media screen and (min-width: 480px)
      min-height 50px !important
  &.mobile
    @media screen and (min-width: 480px)
      display none
    @media screen and (max-height 480px) and (orientation: landscape)
      display block    
  &.desktop
    @media screen and (max-width: 480px)
      display none
    @media screen and (max-height 480px) and (orientation: landscape)
      display none
  p.navbar-text    
    &.naver
      cursor pointer
      @media screen and (max-width: 800px)
        text-align right
        display inline-block
        font-size 10px
        width 20px
      margin-right 10px 
      margin-left 10px
      letter-spacing 2px
      font-family:'Raleway'
      -webkit-font-smoothing antialiased
      color rgba(115, 115, 115, 1)
    &.naver:hover
      color black !important
      text-decoration underline
  
ul
  &.dropdown-menu
    background-color rgba(215,215,215,0.95)
    color black
      
.dropdown-menu
  & li
    & a
      -webkit-font-smoothing antialiased
      color rgba(115, 115, 115, 1)
      font-family: 'Raleway'
      text-align center
    a:hover
      color black !important

  p  
    &.naver
      cursor pointer
      @media screen and (max-width: 800px)
        text-align right
        display inline-block
        font-size 10px
        width 20px
      margin-right 10px 
      margin-left 10px
      letter-spacing 2px
      font-family:'Raleway'
      color white !important
    

//row classes

.row
  &.top
    margin-top 30px
    @media screen and (min-width: 1920px)
      margin 55px auto 0 auto
    @media screen and (max-width: 480px)
      margin 20px auto 0 auto
    &.about
      z-index 1999
  &.bottom
    margin 20px 0 30px 0
      
.row-fluid  
  &.naver
    margin-top 40px
    @media screen and (min-width: 1920px)
      margin 0 auto 0 auto
    @media screen and (max-width: 480px)
      margin 30px auto 0 auto
      

//column classes

.col-xs-4
  &.right
    text-align right    
  &.center
    text-align center
    
.col-xs-12.col-md-4
  &.imagewrapper
    @media screen and (min-width: 1920px)
      height 650px
    @media screen and (max-width: 480px)
      height auto
      width 100%
    height 500px
    text-align center
    max-width 100%
    margin-bottom 20px
  &.imagewrapperl
    @media screen and (min-width: 1920px)
      height 650px
    @media screen and (max-width: 480px)
      height auto
      width 100%
    height 300px
    text-align center
    max-width 100%
    
.col-xs-12
  &.imagewrapper
    @media screen and (min-width: 1920px)
      height 650px
    @media screen and (max-width: 480px)
      height 150px
      width 100%
    height auto
    text-align center
    max-width 100%
  &.content
    padding 0 !important    
  
  
//video


iframe
  max-width 100%
  text-align center !important
  @media screen and (max-width: 480px)
    height 315px
    
//images

img
  max-width 100%
  &.hs
    max-width 80%
    margin 10% 2.5% 5% 2%
    @media screen and (min-width: 1920px)
      max-width 100%
      margin 12% 2.5% 5% 15%
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 50%
      margin 5% 2.5% 0 20%
     @media screen and (max-width: 480px)
      max-width 70%
      margin 12% 2.5% 20% 15%
  &.i
    max-width 100%
    cursor pointer
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 90%
      margin-top 30px
  &.naver
    height 30px
    cursor pointer
  &.naver:hover
    background-color rgba(215,215,215,0.95) !important
  &.icon
    height 50px !important
    padding 5px
    -webkit-font-smoothing antialiased
  &.iconM
    padding 2.5px
    height 45px
    -webkit-font-smoothing antialiased
  &.menu
    height 45px
    float right
    padding 5px 0 0 0
    cursor pointer
  &.content
    margin-bottom 30px
    padding 10px
    max-height 100%
    @media screen and (min-width: 1920px)
      max-height 600px
    @media screen and (max-width: 480px)
      width 98%
      height auto
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 60%
      margin 30px
  &.about
    margin-top 100px
    

//text
  
h2
  &.about
    margin-top 100px
    font-family: 'Raleway'

    
h3
  &.i
    text-align center
    font-family:'Raleway'
    font-weight bold
    margin 100px auto 5px auto    
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 100%
      margin 10px auto 5px auto
      font-size 8px
    @media screen and (max-width: 480px)
      font-size 14px
      margin 50px auto 5px auto
  &.content
    text-align left
    font-family:'Raleway'
    font-weight bold
    margin 20px auto 5px auto    
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 100%
      margin 10px auto 5px auto
      font-size 14px
    @media screen and (max-width: 480px)
      font-size 14px
      margin 20px auto 5px auto
    
h4
  -webkit-font-smoothing antialiased
  &.topper
    font-family:'Raleway'  
    @media screen and (max-height 480px) and (orientation: landscape)
      margin 10% auto 5% auto
      font-size 14px
    @media screen and (max-width: 480px)
      font-size 10px
  &.naver
    font-family:'Raleway'
    @media screen and (max-width: 480px)
      font-size 12px
      height 20px
      margin-top 5px
    
p
  -webkit-font-smoothing antialiased
  &.i
    text-align center
    height 30px
    margin-bottom 10px    
    @media screen and (max-width: 480px)
      font-size 12px
      height 40px
  &.content
    text-align left
    margin-bottom 20px
    min-height 200px
    height auto
    @media screen and (max-width: 480px)
      font-size 12px
      margin-bottom 10px
      height auto
      min-height 50px
    @media screen and (max-height 480px) and (orientation: landscape)
      height 50px
      
//animations

.view-animate.ng-enter, .view-animate.ng-leave  
  display block
  width 100%
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  padding 0

.view-animate
  &.ng-enter
    height 100%
    -webkit-transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s
    transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s
    &.ng-enter-active
      opacity 1
  &.ng-leave
    -webkit-transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s
    transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s
    &.ng-leave-active
      height 0px
      opacity 0

