

img
  &.hs
    max-width 80%
    margin 7% 2.5% 5% 2%
    @media screen and (min-width: 1920px)
      max-width 100%
      margin 5% 2.5% 5% 15%
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 50%
      margin 5% 2.5% 0 25%
  &.i
    max-width 100%
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 100%
      margin-top 0
    
h3
  &.i
    text-align center
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 100%
      margin 10px auto 5px auto
    
p
  &.topper
    margin 20% auto 5% auto
    @media screen and (max-height 480px) and (orientation: landscape)
      margin 10% auto 5% auto