@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,800,700");
@font-face {
  font-family: 'Arca';
  src: url("/fonts/Arca-Heavy.ttf");
}
nav {
  background-color: rgba(215,215,215,0.95) !important;
}
@media screen and (min-width: 500px) {
  nav.navbar {
    min-height: 50px !important;
  }
}
@media screen and (min-width: 500px) {
  nav.mobile {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  nav.desktop {
    display: none;
  }
}
nav p.navbar-text.naver {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 2px;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  color: #737373;
}
@media screen and (max-width: 800px) {
  nav p.navbar-text.naver {
    text-align: right;
    display: inline-block;
    font-size: 10px;
    width: 20px;
  }
}
nav p.navbar-text.naver:hover {
  color: #fff !important;
  text-decoration: underline;
}
ul.dropdown-menu {
  background-color: rgba(215,215,215,0.95);
  color: #000;
}
.dropdown-menu li a {
  -webkit-font-smoothing: antialiased;
  color: #737373;
  font-family: 'Raleway';
  text-align: center;
}
.dropdown-menu li a:hover {
  color: #000 !important;
}
.dropdown-menu p.naver {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 2px;
  font-family: 'Raleway';
  color: #fff !important;
}
@media screen and (max-width: 800px) {
  .dropdown-menu p.naver {
    text-align: right;
    display: inline-block;
    font-size: 10px;
    width: 20px;
  }
}
.row.top {
  margin-top: 30px;
}
@media screen and (min-width: 1920px) {
  .row.top {
    margin: 120px auto 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .row.top {
    margin: 20px auto 0 auto;
  }
}
.row.top.about {
  z-index: 1999;
}
.row-fluid.naver {
  margin-top: 40px;
}
@media screen and (min-width: 1920px) {
  .row-fluid.naver {
    margin: 120px auto 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .row-fluid.naver {
    margin: 30px auto 0 auto;
  }
}
.col-xs-4.right {
  text-align: right;
}
.col-xs-4.center {
  text-align: center;
}
img.hs {
  max-width: 80%;
  margin: 10% 2.5% 5% 2%;
}
@media screen and (min-width: 1920px) {
  img.hs {
    max-width: 100%;
    margin: 12% 2.5% 5% 15%;
  }
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  img.hs {
    max-width: 50%;
    margin: 5% 2.5% 0 20%;
  }
}
@media screen and (max-width: 480px) {
  img.hs {
    max-width: 70%;
    margin: 12% 2.5% 20% 15%;
  }
}
img.i {
  max-width: 100%;
  cursor: pointer;
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  img.i {
    max-width: 90%;
    margin-top: 30px;
  }
}
img.naver {
  height: 30px;
  cursor: pointer;
}
img.icon {
  height: 50px !important;
  padding: 5px;
}
img.iconM {
  padding: 2.5px;
  height: 50px;
}
img.menu {
  height: 45px;
  float: right;
  padding: 5px 0 0 0;
  cursor: pointer;
}
h3.i {
  text-align: center;
  font-family: 'Raleway';
  font-weight: bold;
  margin: 100px auto 5px auto;
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  h3.i {
    max-width: 100%;
    margin: 10px auto 5px auto;
    font-size: 8px;
  }
}
@media screen and (max-width: 480px) {
  h3.i {
    font-size: 14px;
    margin: 50px auto 5px auto;
  }
}
h4.topper {
  font-family: 'Raleway';
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  h4.topper {
    margin: 10% auto 5% auto;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  h4.topper {
    font-size: 10px;
  }
}
h4.naver {
  font-family: 'Raleway';
}
@media screen and (max-width: 480px) {
  h4.naver {
    font-size: 12px;
    height: 20px;
    margin-top: 5px;
  }
}
p.i {
  text-align: center;
  height: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  p.i {
    font-size: 12px;
    height: 40px;
  }
}
