@import url('http://fonts.googleapis.com/css?family=Raleway')
@import url('http://fonts.googleapis.com/css?family=Raleway:400,800,700')
@font-face 
  font-family:'Arca'
  src url('/fonts/Arca-Heavy.ttf')

.row
  &.top
    margin-top 30px
    @media screen and (min-width: 1920px)
      margin 120px auto 0 auto
    @media screen and (max-width: 480px)
      margin 20px auto 0 auto
img
  &.hs
    max-width 80%
    margin 10% 2.5% 5% 2%
    @media screen and (min-width: 1920px)
      max-width 100%
      margin 12% 2.5% 5% 15%
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 50%
      margin 5% 2.5% 0 20%
     @media screen and (max-width: 480px)
      max-width 70%
      margin 12% 2.5% 20% 15%
  &.i
    max-width 100%
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 90%
      margin-top 30px
    
h3
  &.i
    text-align center
    font-family:'Raleway'
    font-weight bold
    margin 100px auto 5px auto
    @media screen and (max-height 480px) and (orientation: landscape)
      max-width 100%
      margin 10px auto 5px auto
      font-size 8px
    @media screen and (max-width: 480px)
      font-size 14px
      margin 50px auto 5px auto
    
    
h4
  &.topper
    font-family:'Raleway'  
    @media screen and (max-height 480px) and (orientation: landscape)
      margin 10% auto 5% auto
      font-size 14px
    @media screen and (max-width: 480px)
      font-size 10px
    
p  
  &.naver
    @media screen and (max-width: 480px)
      display none
    margin-right 40px
    margin-left 40px
    font-family:'Raleway'
  &.i
    text-align center
    height 40px
    margin-bottom 20px
    @media screen and (max-width: 480px)
      font-size 12px